* {
  box-sizing: border-box;
}

.row {
  max-width: 1810px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
  margin: 0 auto;
}

.row::after {
  clear: both;
}

.col-3 {
  /*float: left;*/
  width: 100%;
  margin: 1.04166666%;
}

 /*Mobile defaults */


/* Non-mobile, grid */
@media only screen and (min-width: 500px) {
  /*.col-3 {
    width: 50%;
  }*/
  header {
    background-image: url("page-header-vegetables-1000px-wide.jpg");
  }
}

@media only screen and (max-width: 455px) {
  //make title, form and margins smaller
}

@media only screen and (max-width: 777px) {
  .title {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    background-image: url("page-header-vegetables.jpg");
  }
}

@media only screen and (min-width: 1064px) {
  .col-3 {
    width: 33%;
  }
}

@media only screen and (min-width: 1418px) {
  .col-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 1800px) {
  .col-3 {
    width: 20%;
  }
}
