body {
  text-align: center;
  margin: 0 auto;
}

header {
  background-color: #FCD787;
}
h3, h4, p {
   max-width: 300px;
 }

 .query {
   border: none;
 }

.query:focus {
    outline-width: 0;
}

.ingredients {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  padding: 3px;
}
 .find-recipes {
   display: block;
   margin: 20px auto;
   width: 200px;
 }

 .added-ingredient-list {
   margin: 20px 0;
 }

 .added {
   text-align: left;
 }

.thumbnail {
   display: inline-block;
   padding: 10px;
 }

.tagline {
   width: 500px;
   margin: 0 auto;
 }
