/*body * {
border: 1px dotted red;
}*/
html, body {
  height: 100%;
  margin: 0;
}

body {
  text-align: center;
  margin: 0 auto;
  font-family: Eurostile, sans-serif;
  border-radius: 10px;
  height: 100%;
  color: #4F4F4F;
}

header {
  background-image: url("page-header-vegetables-1000px-wide.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.title {
  font-family: Superclarendon, serif;
  font-size: 4em;
  color: white;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

h3, h4, p {
  max-width: 300px;
}

input {
  min-width: 190px;
  font-size: 1em;
  text-align: center;
  padding: 5px;
  font-family: Eurostile, sans-serif;
}

main {
  position: relative;
}

footer{
  width: 100%;
  clear: both;
  right: 0;
  bottom: 0;
  left: 0;
}

footer, .push {
  height: 36px; //height of footer-area, .push part of sticky footer
}

#wrap {
  min-height: 100%;
  margin-bottom: -36px; //height of footer-area
}
.footer-area {
  background-color: #FF8E32;
  position: relative;
  bottom: 0;
}

.footer-area p {
  padding: 10px;
  max-width: 400px;
  color: white;
}

.tagline {
  margin: 0 auto;
}

.query {
  border: none;
}

.query:focus {
  outline-width: 0;
}

.ingredients {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
}

.button {
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  padding: 5px;
  font-family: Eurostile, sans-serif;
  background-color: #FF8E32;
  border-radius: 5px;
}

.add-ingredient-button {
  position: relative;
  top: 1px;
}

.find-recipes-button {
  display: block;
  margin: 20px auto;
  width: 300px;
}

.added-ingredient {
  padding: 3px;
  font-size: 16px;
}

.header-hr {
  margin: 0;
}

.results {
  display: block;
  margin: 0 auto;
}

#no-results-message {
  text-align: center;
  margin: 0 auto;
}

.devices-image {
  width: 100%;
}

.message {
  padding: 30px 30px;
}

.message p {
  font-size: 16px;
}

.welcome-message {
  position: relative;
  background-color: #FFDC60;
  background-size: cover;
  box-sizing: border-box;
  margin-bottom: 0;
  overflow: auto;
  color: black;
}

.welcome-to-recipe-builder, .welcome-message p {
  margin: 0 auto;
  max-width: 575px;
  padding: 10px;
}

.welcome-to-recipe-builder {
  font-family: Superclarendon, serif;
  font-size: 24px;
}

.thumbnail {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  max-width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  border-radius: 5px;
  text-align: left;
}

.thumbnail-text, .detail-text {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.detail-text {
  bottom: 10px;
}

.detail-text * {
  margin: 10px 0;
}

.thumbnail-text * {
  margin: 10px 0;
}

.servings {
  padding-left: 5px;
}

.light {
  display: block;
  background-color: white;
  width: 400px;
  max-width: 95%;
  max-height: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border-radius: 5px;
}

.dark {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: black;
  opacity: 0.5;
  position: fixed;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
}

.instructions {
  text-align: left;
}

.detail-photo {
  position: relative;
  width: 100%;
  height: 400px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.see-more-results-button {
  padding: 5px 75px;
  margin: 20px;
}

.recipe-link-button {
  padding: 5px 50px;
  margin: 20px;
}

.light h3, .light h4, .light li, .light p {
  text-align: left;
  margin: 0 20px;
}

.hidden {
  display: none;
}


/* Non-mobile, grid */
@media only screen and (min-width: 500px) {
  header {
    background-image: url("page-header-vegetables-1000px-wide.jpg");
  }

  input {
    min-width: 190px;
    font-size: 3em;
  }

  .title {
    font-family: Superclarendon, serif;
    color: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
  }

  .button {
  font-size: 3em;
  }

  .message p {
    font-size: 20px;
  }

  .devices-image {
    content: url("Recipe-Builder-on-iPhone-iPad-large.png");
  }
}


@media only screen and (min-width: 1000px) {
  header {
    background-image: url("page-header-vegetables.jpg");
    height: 100%;
  }

  .title {
    font-size: 100px;
  }

  .message p {
    font-size: 20px;
  }
}



@media only screen and (min-width: 1064px) {
  .welcome-to-recipe-builder {
    font-size: 36px;
  }

  .devices-image {
    content: url("Recipe-Builder-on-iPhone-iPad-large.png");
  }
}


@media only screen and (min-width: 1100px) {

  .welcome-message {
    position: relative;
  }

  .devices-image {
    width: 50%;
    float: right;
  }

  .message {
    float: left;
    width: 50%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
